$primarycolor     : #3F51B5;
$lightprimarycolor: #C5CAE9;
$darkprimarycolor : #303F9F;
$accentcolor      : #FF5722;
$primarytext      : #212121;
$text_icons       : #afafaf;
$secondarytext    : #757575;
$dividertext      : #BDBDBD;

$header :#FFFFFF;
$border : #BDBDBD;
$text   : #FFFFFF;

$sideNavLeft  : #303F9F;
$sideNavRight : #f3f2f2;


$background : #FFFFFF;

$footer           : rgb(47, 60, 73);
$shadow           : black;
$primaryColor     : #2196F3;
$lightprimaryColor: #BBDEFB;
$accentColor      : #9E9E9E;
$primaryText      : #212121;
$secondaryText    : #757575;
$accentText       : #FFFFFF;
$hoverHeader      : rgba(33, 33, 33, 0.5);
$search           : #ecf0f3;
$loginshadow      : rgba(42, 43, 46, 0.1);