@import 'src/styles/colors.scss';


.mat-drawer-container {
  height: 100vh;


  ul {
    list-style: none;
    padding   : 0;
    margin    : 32px 0 0 0;
  }

  li {
    color      : $text;
    padding    : 0px 16px;
    height     : 48px;
    display    : flex;
    align-items: center;
    cursor     : pointer;

    mat-icon {
      margin-right: 16px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.4);
    }

    &:focus {
      outline: none;
    }

  }
}

.menu-icon {
  cursor: pointer;
}

.side-nav {
  background-color: $sideNavLeft;
  width           : 200px;

}

mat-toolbar,
mat-toolbar-row {
  background-color: $header;
  min-height      : 56px;
  height          : 56px;
  border-bottom   : 1px solid $border;
}

.router-container {
  padding-left : 56px;
  padding-top  : 16px;
  padding-right: 56px;
}

.toolbar-row {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  color          : $text_icons;
}

.header-nav {
  display    : flex;
  align-items: center;

  button {
    margin: 0px 16px;
  }

}

.header-icon-group {
  mat-icon {
    margin: 8px 8px;
  }
}

.add-user-btn {
  width           : 10rem;
  border-radius   : 16px;
  border          : 1px solid #BDBDBD;
  background-color: #FF5722;
  color           : #FFFFFF;
  font-size: 12px;
}

.login-btn {
  width: 6rem;
  border-radius: 16px;
  border       : 1px solid $border;
  font-size: 12px;
}

.user-icon {
  cursor: pointer;
}