<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="side-nav" [opened]="true" mode="side">
    <div class="logo-container">
      <img src="/assets/img/logo.png" alt="">
      <span>Simple CRM</span>
    </div>
    <ul>
      <li routerLink="/" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon>Dashboard
      </li>
      <li routerLink="/user" routerLinkActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>User
      </li>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="toolbar-row">
        <mat-icon class="menu-icon" mat-button (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>

        <div class="header-nav">
          <button class="add-user-btn" (click)="openRegister()" mat-button>
            <mat-icon mat-mini-fab color="primary">add</mat-icon>
            Add User
          </button>
          <div class="header-icon-group">
            <mat-icon class="user-icon"> notifications_none</mat-icon>
            <mat-icon class="user-icon">mail_outline</mat-icon>
            <mat-icon class="user-icon">apps</mat-icon>
          </div>
          <button class="login-btn" (click)="openDialog()" mat-button>
            Login
          </button>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>