.user-detail-header {
  min-height      : 200px;
  background-color: #E64A19;
  color           : #FFFFFF;
  display: flex;
  align-items: flex-end;

  img {
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 100%;
  }

}
.user-details {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 60px;

  h2{
    margin-bottom: 0;
  }
}