@import 'src/styles/colors.scss';

.overview {
  width: 56vw;
}

.contract-stats {
  display        : flex;
  justify-content: space-between;
  padding        : 8px;
}

.social-stats {
  display        : flex;
  justify-content: space-between;
  padding        : 8px;
}

app-side-nav-right {
  position        : absolute;
  right           : 0;
  top             : 56px;
  width           : 15vw;
  height          : 100%;
  background-color: $sideNavRight;
}